.Inter-font{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-variation-settings: "width" 200;
}

.bottom-mar0{
    margin-bottom: 0px;
}

.top-mar0{
    margin-top: 0px;
}


.header{
    background-image: url('../Media/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-bg-color{
    background-color: rgba(255, 245, 255, 1);
}


.text-center{
    text-align: center;
}

.nav-ul-li{
    list-style: none ;
}

.logo-margin{
    margin-top: 50px;
}

.text-primary{
    color: #4E47FF;
}

.nav-title{
    font-weight: bold;
    font-size: 34px;
}

.button-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    margin: right 150px;
}

.button-secondary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    /* margin-bottom: 152px; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    font-family: "Raleway", sans-serif ;
    margin-top: 158px;
}

.see-it{
    font-size: 42px;
    font-weight: bold;
}

.see-it-des{
    color: rgba(41, 36, 50, 0.5);
    font-size: 24px;
}

.seeit-div{
    margin: 178.5px 0px 178.5px 141px;
}

.wc-mini{
    border-radius: 48px;
    margin-right: 159px;
}

.section-see-it{
    display: flex;
    justify-content: space-between;
}

.padding-join{
    padding: 50px 142px 50px 142px;
}

.sec-join-bg{
    background-color: rgba(124, 71, 255, 0.1);
    margin: 116px 141px 137px 141px;
}

.sec-join-h{
    font-weight: bold;
    font-size: 38px;
}

.sec-num-div{
    display: flex;
    justify-content: space-between;
}


.sec-num-h{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
}

.sec-num-p{
    margin-top: 0px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.review-sec{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.stars {
    width: 116px;
    height: 20px;
    background-image: url('../Media/icon-star.png');
    background-repeat: repeat-x;
    background-size: 20px 20px;
}

.review-headl{
    font-family: "raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-top: 137px;
    margin-bottom: 50px;
}

.rev-title{
    font-size: 29px;
    margin-top: 24px;
    margin-bottom: 2px;
}

.rev-body{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
}

.av-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rev-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.658);
}

.rev-date{
    margin-top: 2px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.603);
}


.rev-av-nm-dt{
    display: flex;
    gap: 12px;
}

.review-container{
    padding: 30px;
    border-radius: 14px;
    border: solid #F2EDED;
    background-color: white;
    margin-bottom: 0px;
}

.ready{
    text-align: center;
}

.ready-body{
    background-color: white;
    margin: 137px 150px 92.93px 150px;
    border-radius: 14px;
    padding: 71px 0px 71px 0px;
}

.ready-head{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;

}

.ready-p{
    font-size: 16px;
    color: rgba(0, 0, 0, 50%);
    margin-bottom: 0px;
}

.ready-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.ready-img img{
    text-align: center;
    border-radius: 48px;
}